:root {}

h1 {
    text-align: center;
    width: 100%;
    background-color: #87CEFA;
    color: black;
    font-family: monospace;
    font-size: xx-large;
    padding: 40px;
    margin: 20px;
}

h3,
form label {
    font-family: monospace;
    font-size: xx-large;
}

.uv-low {
    background-color: green;
    color: black;
}
.uv-mod {
    background-color: yellow;
    color: black;
    
}
.uv-high {
    background-color: orange;
    color: black;
    
}
.uv-very-high {
    background-color: red;
    color: black;
    
}

.uv-extreme {
    background-color:black;
    color: purple;

}

#search-results li {
    border: black;
    padding: 1.5em;
    width: auto;
}

#cities {
    background-color:#8FBC8F;
}

#cities,
#weather,
#city,
#forecast {
    border-style: solid;
    border: 1px solid black;
    padding: 30px;
    background-color:#8FBC8F;
}
